body{
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
    display: flex;
} 

#gameOver{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%; 
    left: 40%;
}

#bestScore{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%; 
    left: 40%;
}

#nameDiv{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 45%;
    
}

#name{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    right: 55%;
    
}

#saveBtn{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 45%;
}

#hintSaved{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 44%;
}

#restartGame{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 40%;
}

#scoreDisplay{
    position: absolute;
    top: 110px;
    left: 10px;
    padding: 10px;
    background-color: orangered;
    font-size: 18px;
    color: white;
}

[hidden] {
    display: none !important;
}

#pointsDisplay{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: brown;
    font-size: 20px;
    font-style: italic;
    color: white;
}

#lifeDisplay {
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 10px;
    background-color: green;
    font-size: 18px;
    color: white;
}